/* heebo-100 - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 100;
    src: url('./library/fonts/heebo-v5-latin-100.eot'); /* IE9 Compat Modes */
    src: local('Heebo Thin'), local('Heebo-Thin'),
    url('./library/fonts/heebo-v5-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/heebo-v5-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/heebo-v5-latin-100.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/heebo-v5-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/heebo-v5-latin-100.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-regular - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('./library/fonts/heebo-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Heebo'), local('Heebo-Regular'),
    url('./library/fonts/heebo-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/heebo-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/heebo-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/heebo-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/heebo-v5-latin-regular.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-300 - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 300;
    src: url('./library/fonts/heebo-v5-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Heebo Light'), local('Heebo-Light'),
    url('./library/fonts/heebo-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/heebo-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/heebo-v5-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/heebo-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/heebo-v5-latin-300.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-500 - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    src: url('./library/fonts/heebo-v5-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Heebo Medium'), local('Heebo-Medium'),
    url('./library/fonts/heebo-v5-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/heebo-v5-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/heebo-v5-latin-500.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/heebo-v5-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/heebo-v5-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-800 - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    src: url('./library/fonts/heebo-v5-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Heebo ExtraBold'), local('Heebo-ExtraBold'),
    url('./library/fonts/heebo-v5-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/heebo-v5-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/heebo-v5-latin-800.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/heebo-v5-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/heebo-v5-latin-800.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-700 - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    src: url('./library/fonts/heebo-v5-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Heebo Bold'), local('Heebo-Bold'),
    url('./library/fonts/heebo-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/heebo-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/heebo-v5-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/heebo-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/heebo-v5-latin-700.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-900 - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    src: url('./library/fonts/heebo-v5-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Heebo Black'), local('Heebo-Black'),
    url('./library/fonts/heebo-v5-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/heebo-v5-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/heebo-v5-latin-900.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/heebo-v5-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/heebo-v5-latin-900.svg#Heebo') format('svg'); /* Legacy iOS */
}

/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('./library/fonts/poppins-v9-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Poppins Light'), local('Poppins-Light'),
    url('./library/fonts/poppins-v9-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/poppins-v9-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/poppins-v9-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/poppins-v9-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/poppins-v9-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./library/fonts/poppins-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'),
    url('./library/fonts/poppins-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/poppins-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/poppins-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/poppins-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/poppins-v9-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('./library/fonts/poppins-v9-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Poppins Medium'), local('Poppins-Medium'),
    url('./library/fonts/poppins-v9-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/poppins-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/poppins-v9-latin-500.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/poppins-v9-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/poppins-v9-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./library/fonts/poppins-v9-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url('./library/fonts/poppins-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/poppins-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/poppins-v9-latin-600.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/poppins-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/poppins-v9-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('./library/fonts/poppins-v9-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
    url('./library/fonts/poppins-v9-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/poppins-v9-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/poppins-v9-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/poppins-v9-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/poppins-v9-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./library/fonts/poppins-v9-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Poppins Bold'), local('Poppins-Bold'),
    url('./library/fonts/poppins-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/poppins-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/poppins-v9-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/poppins-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/poppins-v9-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('./library/fonts/poppins-v9-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
    url('./library/fonts/poppins-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./library/fonts/poppins-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./library/fonts/poppins-v9-latin-800.woff') format('woff'), /* Modern Browsers */
    url('./library/fonts/poppins-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./library/fonts/poppins-v9-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}