* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1px;
  font-family: Heebo, Arial, sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
