* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    /*background-color: blue;*/
    overflow-x: hidden;

}

.chart {
    /*height: 100vh;*/
    width: 100vw;
    /*overflow: hidden;*/
}

line {
    mix-blend-mode: lighten;
}

canvas {
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;

}

svg {
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;

}

.mapSVGContainer {
    /*position: f*/
}

.chartSVGContainer {
    /*z-index: 5;*/
}

.tick {
    color: white;
    font-family: sans-serif;
}