body {

    font-family: 'Open Sans', sans-serif;

    line-height: 16px;
    box-sizing: border-box;
    margin: 0;
    background-color: #000000;
    object-position: center;
    height: 100vh;
    width: 100vw;
}

canvas {
    width:600px;
    height: 600px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#canvasDiv {

    line-height: 16px;
    border: 3px white solid;
    top:10px;
    left: 0;
    right: 0;
    height: 610px;
    width: 610px;
    position: absolute;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.gameFoot {
    box-sizing: border-box;
    position: relative;

    top: 610px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    margin: auto;

    height:50px;
    width:610px;
    background-color: #000000;
    padding: 0 0px;
    border: 3px white solid;
    font-family: 'Press Start 2P', cursive;
}

button {

    font-size: 22px;
    font-family: 'Press Start 2P', cursive;
    border: 3px white solid;
    position: relative;
    top: -3px;
    height: 100%;
    outline: none;

}
button:hover {

    color: white;
    background-color: black;
    border: 3px white solid;
}

button:active {
    color: black;
    background-color: white;
    border: 3px white solid;
}
#startButton {
    float: left;
    position: relative;
    height:50px;
    width: 200px;
}
#pauseButton {
    float: right;
    position: relative;
    height:50px;
    width: 200px;
}

#score {
    position: absolute;
    top: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: auto;
    padding: auto;
    color: white;
    height:50px;
    width: 150px;
    font-size: 18px;

}

#score p {

    text-align: center;
    width: 150px
}



.interAct {
    flex: auto;
    flex-direction: row;
}
